img{
  max-width: 100%;
}

header {
  padding: 50px 15px 30px;
    background: #222;
    color: #fff;
    text-align: center;
}

header h2{
  font-weight: 300;
    letter-spacing: 1px;
}

header input {
  width: 90%;
  max-width: 400px;
  border-radius: 50px;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
}

header input:focus{
  outline: none;
}

.loading{
  text-align: center;
  padding: 20px;
  background: #f1f1f1;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.list{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 15px 30px;

}
.list .item img{
    object-fit: cover;
    height: auto;
    object-position: center center;
    height: 300px;
    width: 100%;
    background-color: #f1f1f1;
    cursor: pointer;
}

.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 18, 17, 0.72);
}


.popup-content{
  position: absolute;
    left: 0;
    top: 50%;
    width: 95%;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
}

.popup-content .title{
  background: #ffffffcc;
    border-radius: 3px;
    color: #000;
    padding: 10px 15px;
    display: inline-block;
}


.popup-content img{
  max-height: 85vh;
}

.close-btn{
      z-index: 1;
  position: absolute;
    font-size: 18px;
    color: #000;
    right: 12px;
    background: rgba(255, 255, 255, 0.75);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    top: 12px;
    border-radius: 50%;
    cursor: pointer;
}
.close-btn:hover{
  background: rgba(255, 255, 255, 0.95)
}
